<div *ngIf="showSuccessMessage" class="alert alert-success flash-message">
  Creating successful students!
</div>
<div class="container">
  <h1>Create a new student information</h1>
  <form [formGroup]="studentForm">
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="code">StudentCode</label>
        <input
          type="text"
          class="form-control blurred-placeholder"
          id="code"
          placeholder="Example: A0000"
          formControlName="code"
          required
        />
      </div>
      <div class="form-group col-md-6">
        <label for="fullName">Full Name</label>
        <input
          type="text"
          class="form-control blurred-placeholder"
          id="firstName"
          placeholder="Example: Cristiano Ronaldo"
          formControlName="name"
          required
        />
      </div>
      <fieldset class="form-group">
        <div class="row">
          <legend class="col-form-label col-sm-2 pt-0">Gender</legend>
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="gender"
              id="gridRadios1"
              value="Male"
              [checked]="studentForm.get('gender').value === 'Male'"
              (change)="studentForm.get('gender').setValue('Male')"
            />
            <label class="form-check-label" for="gridRadios1"> Male </label>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="gender"
              id="gridRadios2"
              value="Female"
              [checked]="studentForm.get('gender').value === 'Female'"
              (change)="studentForm.get('gender').setValue('Female')"
            />
            <label class="form-check-label" for="gridRadios2"> Female </label>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="gender"
              id="gridRadios3"
              value="Other"
              [checked]="studentForm.get('gender').value === 'Other'"
              (change)="studentForm.get('gender').setValue('Other')"
            />
            <label class="form-check-label" for="gridRadios3"> Other </label>
          </div>
        </div>
      </fieldset>
      <div class="form-group col-md-6">
        <label for="date">Date Of Birth</label>
        <input
          type="date"
          class="form-control blurred-placeholder"
          id="date"
          formControlName="dob"
          required
        />
      </div>
      <div class="form-group col-md-6">
        <label for="fullName">Class Name</label>
        <input
          type="text"
          class="form-control blurred-placeholder"
          id="date"
          placeholder="Example: QA..."
          formControlName="className"
          required
        />
      </div>
      <div class="form-group col-md-6">
        <label for="fullName">Academic Year</label>
        <input
          type="text"
          class="form-control blurred-placeholder"
          id="date"
          placeholder="Example: QA..."
          formControlName="academicYear"
          required
        />
      </div>
      <div class="form-group col-md-6">
        <label for="email">Email</label>
        <input
          type="email"
          class="form-control blurred-placeholder"
          id="email"
          placeholder="name@domain"
          formControlName="email"
        />
      </div>
      <div class="form-group col-md-6">
        <label for="phone">Phone Contact</label>
        <input
          type="phone"
          class="form-control blurred-placeholder"
          id="phone"
          placeholder="0xx-xxxxxxx"
          formControlName="phone"
        />
      </div>
      <div class="form-group col-md-6">
        <label for="picture">Picture</label>
        <input
          type="text"
          class="form-control blurred-placeholder"
          id="picture"
          placeholder="Student's photo"
          formControlName="picture"
        />
      </div>
    </div>
    <br />
    <button
      type="submit"
      class="btn btn-success"
      [disabled]="!studentForm.valid"
      (click)="save()"
    >
      Save <span *ngIf="id === 0"> and create new</span>
    </button>
    &nbsp;

    <button
      type="submit"
      class="btn btn-success"
      [disabled]="!studentForm.valid"
      (click)="saveAndGotoList()"
    >
      Save and return
    </button>
    &nbsp;
    <button type="submit" class="btn btn-dark">
      <a mat-list-item [routerLink]="['/students']" style="color: white">Back</a>
    </button>
    &nbsp;
  </form>
</div>
