<div *ngIf="showSuccessMessage" class="alert alert-success flash-message">
  Creating successful class!
</div>
<div class="container">
  <h1>Create a new class information</h1>
  <form [formGroup]="classForm">
    <div class="row">
      <div class="form-group col-md-6">
        <label for="text">Class Name</label>
        <input type="text" class="form-control blurred-placeholder" id="code" placeholder="Example: QA..." formControlName="className" required>
      </div>
      <div class="form-group col-md-6">
        <label for="text">Academic Year</label>
        <input type="text" class="form-control blurred-placeholder" id="firstName" placeholder="Example: K01" formControlName="academicYear" required>
      </div>
    </div>
    <div class="form-group col-md-6">
      <label for="text">Faculty Advisor</label>
      <input type="email" class="form-control blurred-placeholder" id="date" placeholder="Faculty Advisor Fullname" formControlName="facultyAdvisor">
    </div>
    <div class="form-group col-md-6">
      <label for="text">Major</label>
      <input type="text" class="form-control blurred-placeholder" id="phone" placeholder="Information Technology" formControlName="major" required>
    </div>
    <br />

    <button type="submit" class="btn btn-success" [disabled]="!classForm.valid" (click)="save()">
      Save <span *ngIf="id === 0">and Enter new</span>
    </button>
    &nbsp;
    <button type="submit" class="btn btn-success" [disabled]="!classForm.valid" (click)="saveAndGotoList()">
      Save and Return to the list
    </button>
    &nbsp;
    <button type="submit" class="btn btn-dark">
      <a mat-list-item [routerLink]="['/classes']" style="color: white;">Back</a>
    </button>
    &nbsp;
  </form>
</div>
