// #mytable {
//   border-collapse: collapse;
//   width: 100%;
// }

// #mytable td,
// #mytable th {
//   border: 1px solid #ddd;
//   padding: 8px;
// }

// #mytable tr:nth-child(even) {
//   background-color: #f2f2f2;
// }

// #mytable tr:hover {
//   background-color: #ddd;
// }

// #mytable th {
//   padding-top: 12px;
//   padding-bottom: 12px;
//   text-align: left;
//   background-color: #285B8B;
//   color:white;
// }

// .centered-container {
//   display: flex;
//   flex-direction: column;
//   align-items: center;
// }

// #mytable th,
// #mytable td {
//   text-align: center;
// }

// a {
//   text-decoration: none;
//   color: blue;
//   cursor: pointer;
// }

// .pagination-previous,
// .pagination-next {
//   text-decoration: none;
// }
td,th{
  padding: 16px !important;
}

body{
	font-family: font-primary;
	font-size: 16px;
	line-height: 1.8;
	font-weight: normal;
	background: #f8f9fd;
	color: lighten(black,50%);
}
a {
	transition: .3s all ease;
	color: primary;
	&:hover, &:focus {
		text-decoration: none !important;
		outline: none !important;
		box-shadow: none;
	}
}
h1, h2, h3, h4, h5,
.h1, .h2, .h3, .h4, .h5 {
	line-height: 1.5;
	font-weight: 400;
	font-family: font-primary;
	color: black;
}

.bg-primary{
	background: primary !important;
}

.ftco-section{
	padding: 7em 0;
}

.ftco-no-pt{
	padding-top: 0;
}
.ftco-no-pb{
	padding-bottom: 0;
}
//HEADING SECTION
.heading-section{
	font-size: 28px;
	color: black;
}

//COVER BG
.img{
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

.table{
	min-width: 1000px !important;
	width: 100%;
	-webkit-box-shadow: 0px 5px 12px -12px rgba(0,0,0,0.29);
	-moz-box-shadow: 0px 5px 12px -12px rgba(0,0,0,0.29);
	box-shadow: 0px 5px 12px -12px rgba(0,0,0,0.29);
	thead{
		th{
			border: none;
			padding: 30px;
			font-size: 13px;
			font-weight: 500;
			color: lighten(black,50%);

		}
		tr{
			background: white;
			border-bottom: 4px solid darken(#f8f9fd,3%);
		}
	}
	tbody{
		tr{
			margin-bottom: 10px;
			border-bottom: 4px solid #f8f9fd;
			&:last-child(){
				border-bottom: 0;
			}
		}
		th,td{
			border: none;
			padding:30px;
			font-size: 14px;
			background: white;
			vertical-align: middle;
		}
		td{
			&.status{
				span{
					position: relative;
					border-radius: 30px;
					padding: 4px 10px 4px 25px;
					&:after{
						position: absolute;
						top: 9px;
						left: 10px;
						width: 10px;
						height: 10px;
						content: '';
						border-radius: 50%;
					}
				}
			}
			.img{
				width: 50px;
				height: 50px;
				border-radius: 50%;
			}
			.email{
				span{
					display: block;
					&:last-child(){
						font-size: 12px;
						color: rgba(0,0,0,.3);
					}
				}
			}
			.close{
				span{
					font-size: 12px;
					color: danger;
				}
			}
		}
	}
}


.checkbox-wrap {
  display: block;
  position: relative;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.checkbox-wrap input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
}

